:root {
  --blanc: #fff;
  --vert: #3A7C32;
  --rouge: #C03419;
  --orange: #DF9240;
  --overlay: rgba(192, 52, 25, 0.9);
  --gris: rgba(0, 0, 0, 0.6);
  --texte: rgba(0, 0, 0, 0.9);
  --bordure: rgba(0, 0, 0, 0.4);
  --noir: #000000;
}

.has-blanc-color {
  color: #fff;
}

.has-blanc-background-color {
  background-color: #fff;
}

a.wp-block-button__link.has-blanc-background-color {
  background-color: #fff;
}
a.wp-block-button__link.has-blanc-background-color:focus-visible {
  outline-color: #fff;
}
a.wp-block-button__link.has-blanc-color {
  color: #fff;
}
a.wp-block-button__link.has-blanc-color:visited, a.wp-block-button__link.has-blanc-color:hover, a.wp-block-button__link.has-blanc-color:focus, a.wp-block-button__link.has-blanc-color:active {
  color: #fff;
}

.has-vert-color {
  color: #3A7C32;
}

.has-vert-background-color {
  background-color: #3A7C32;
}

a.wp-block-button__link.has-vert-background-color {
  background-color: #3A7C32;
}
a.wp-block-button__link.has-vert-background-color:focus-visible {
  outline-color: #3A7C32;
}
a.wp-block-button__link.has-vert-color {
  color: #3A7C32;
}
a.wp-block-button__link.has-vert-color:visited, a.wp-block-button__link.has-vert-color:hover, a.wp-block-button__link.has-vert-color:focus, a.wp-block-button__link.has-vert-color:active {
  color: #3A7C32;
}

.has-rouge-color {
  color: #C03419;
}

.has-rouge-background-color {
  background-color: #C03419;
}

a.wp-block-button__link.has-rouge-background-color {
  background-color: #C03419;
}
a.wp-block-button__link.has-rouge-background-color:focus-visible {
  outline-color: #C03419;
}
a.wp-block-button__link.has-rouge-color {
  color: #C03419;
}
a.wp-block-button__link.has-rouge-color:visited, a.wp-block-button__link.has-rouge-color:hover, a.wp-block-button__link.has-rouge-color:focus, a.wp-block-button__link.has-rouge-color:active {
  color: #C03419;
}

.has-orange-color {
  color: #DF9240;
}

.has-orange-background-color {
  background-color: #DF9240;
}

a.wp-block-button__link.has-orange-background-color {
  background-color: #DF9240;
}
a.wp-block-button__link.has-orange-background-color:focus-visible {
  outline-color: #DF9240;
}
a.wp-block-button__link.has-orange-color {
  color: #DF9240;
}
a.wp-block-button__link.has-orange-color:visited, a.wp-block-button__link.has-orange-color:hover, a.wp-block-button__link.has-orange-color:focus, a.wp-block-button__link.has-orange-color:active {
  color: #DF9240;
}

.has-overlay-color {
  color: rgba(192, 52, 25, 0.9);
}

.has-overlay-background-color {
  background-color: rgba(192, 52, 25, 0.9);
}

a.wp-block-button__link.has-overlay-background-color {
  background-color: rgba(192, 52, 25, 0.9);
}
a.wp-block-button__link.has-overlay-background-color:focus-visible {
  outline-color: rgba(192, 52, 25, 0.9);
}
a.wp-block-button__link.has-overlay-color {
  color: rgba(192, 52, 25, 0.9);
}
a.wp-block-button__link.has-overlay-color:visited, a.wp-block-button__link.has-overlay-color:hover, a.wp-block-button__link.has-overlay-color:focus, a.wp-block-button__link.has-overlay-color:active {
  color: rgba(192, 52, 25, 0.9);
}

.has-gris-color {
  color: rgba(0, 0, 0, 0.6);
}

.has-gris-background-color {
  background-color: rgba(0, 0, 0, 0.6);
}

a.wp-block-button__link.has-gris-background-color {
  background-color: rgba(0, 0, 0, 0.6);
}
a.wp-block-button__link.has-gris-background-color:focus-visible {
  outline-color: rgba(0, 0, 0, 0.6);
}
a.wp-block-button__link.has-gris-color {
  color: rgba(0, 0, 0, 0.6);
}
a.wp-block-button__link.has-gris-color:visited, a.wp-block-button__link.has-gris-color:hover, a.wp-block-button__link.has-gris-color:focus, a.wp-block-button__link.has-gris-color:active {
  color: rgba(0, 0, 0, 0.6);
}

.has-texte-color {
  color: rgba(0, 0, 0, 0.9);
}

.has-texte-background-color {
  background-color: rgba(0, 0, 0, 0.9);
}

a.wp-block-button__link.has-texte-background-color {
  background-color: rgba(0, 0, 0, 0.9);
}
a.wp-block-button__link.has-texte-background-color:focus-visible {
  outline-color: rgba(0, 0, 0, 0.9);
}
a.wp-block-button__link.has-texte-color {
  color: rgba(0, 0, 0, 0.9);
}
a.wp-block-button__link.has-texte-color:visited, a.wp-block-button__link.has-texte-color:hover, a.wp-block-button__link.has-texte-color:focus, a.wp-block-button__link.has-texte-color:active {
  color: rgba(0, 0, 0, 0.9);
}

.has-bordure-color {
  color: rgba(0, 0, 0, 0.4);
}

.has-bordure-background-color {
  background-color: rgba(0, 0, 0, 0.4);
}

a.wp-block-button__link.has-bordure-background-color {
  background-color: rgba(0, 0, 0, 0.4);
}
a.wp-block-button__link.has-bordure-background-color:focus-visible {
  outline-color: rgba(0, 0, 0, 0.4);
}
a.wp-block-button__link.has-bordure-color {
  color: rgba(0, 0, 0, 0.4);
}
a.wp-block-button__link.has-bordure-color:visited, a.wp-block-button__link.has-bordure-color:hover, a.wp-block-button__link.has-bordure-color:focus, a.wp-block-button__link.has-bordure-color:active {
  color: rgba(0, 0, 0, 0.4);
}

.has-noir-color {
  color: #000000;
}

.has-noir-background-color {
  background-color: #000000;
}

a.wp-block-button__link.has-noir-background-color {
  background-color: #000000;
}
a.wp-block-button__link.has-noir-background-color:focus-visible {
  outline-color: #000000;
}
a.wp-block-button__link.has-noir-color {
  color: #000000;
}
a.wp-block-button__link.has-noir-color:visited, a.wp-block-button__link.has-noir-color:hover, a.wp-block-button__link.has-noir-color:focus, a.wp-block-button__link.has-noir-color:active {
  color: #000000;
}

/*@import "base/typography";*/
/*@import "base/normalize";
@import "base/utilities";
@import "base/layout";
@import "base/elements";
@import "base/boutons"; */
.wp-block-button__link {
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.block-list-appender button, button.acf-button, .wp-editor-tabs button {
  min-width: unset;
  padding: unset;
}
.block-list-appender button, .block-list-appender button:hover, .block-list-appender button:focus, button.acf-button, button.acf-button:hover, button.acf-button:focus, .wp-editor-tabs button, .wp-editor-tabs button:hover, .wp-editor-tabs button:focus {
  background-color: transparent;
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Kantumruy Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wp-block-group.alignfull {
  --wp--style--block-gap:0;
}
.wp-block-group.alignfull .wp-block-image, .wp-block-group.alignfull .wp-block-columns > .wp-block-column {
  margin: 0;
}
.wp-block-group.alignfull .wp-block-column > .wp-block-image {
  height: 100%;
}
.wp-block-group.alignfull .wp-block-column > .wp-block-image img {
  height: 100%;
  width: 100%;
}
.wp-block-group.alignfull .wp-block-columns {
  margin-bottom: 0;
}
.wp-block-group.bloc-bleu {
  background-color: var(--bleu);
  padding: 3rem;
}
.wp-block-group.bloc-bleu p, .wp-block-group.bloc-bleu h3, .wp-block-group.bloc-bleu h4 {
  color: var(--blanc);
}
@media screen and (max-width: 781px) {
  .wp-block-group.bloc-bleu {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: -1.8em;
  }
}
@media screen and (max-width: 781px) and (min-width: 1920px) {
  .wp-block-group.bloc-bleu {
    width: var(--largeur-max);
  }
}

.wp-block-columns.alignfull {
  margin-bottom: 0;
  padding: var(--margin-y-2) var(--padding-x);
}
.wp-block-columns a.wp-block-button__link {
  min-width: 10rem;
}

.wp-block-column.gap-fallback {
  padding-left: 2em;
}
@supports (font-size: clamp(1em, 10vw, 10em)) {
  .wp-block-column.gap-fallback {
    padding-left: 0;
  }
}

.wp-block-image.alignwide {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 0 var(--padding-x);
}
@media (min-width: 1920px) {
  .wp-block-image.alignwide {
    width: var(--largeur-max);
  }
}
.wp-block-image.alignwide figcaption {
  text-align: right;
}

.wp-block-code {
  background-color: lightgrey;
  margin-bottom: var(--margin-y-2);
  padding: 2rem;
  font-style: italic;
}
/*# sourceMappingURL=editor-styles.css.map */
