
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.bouton,
a.wp-block-button__link {
	--fond-bouton:var(--rouge);
	--texte-bouton:var(--blanc);

	&.vert {
		--fond-bouton:var(--vert);
	}
	&.orange {
		--fond-bouton:var(--orange);
	}
	&.blanc {
		--fond-bouton:var(--blanc);
		--texte-bouton:var(--vert);
		&.has-rouge-color {
			--texte-bouton:var(--rouge);
		}
	}

	@include bouton;
 
	background: var(--fond-bouton);
	&, &:visited {
		color: var(--texte-bouton);
	}
	text-decoration: none;
	transition: all var(--transition);

	&:hover, &:focus, &:active {
		color: var(--texte-bouton);
		filter:brightness(1.3);
		outline: none;
		text-decoration: none;
	}
	&:focus-visible {
		outline : dashed 2px var(--fond-bouton);
		outline-offset: 2px;
	}

	&:disabled {
		background-color: lightgrey;
	}
	
}

input[type="submit"] {
	-webkit-appearance: none;
}