.wp-block-button__link {
	border-radius: 0;
	font-weight: bold;
	text-transform: uppercase;
}

.block-list-appender button, button.acf-button , .wp-editor-tabs button {
	min-width:unset;
	padding:unset;
	&, &:hover,&:focus {
		background-color:transparent;
	}
}