@import "./././sass/abstracts/variables-et-mixins";

.encadres {
	margin-bottom: var(--margin-y-2);
	.encadre {
		background-color: var(--blanc);
		border:solid 1px var(--orange);
		border-radius: 10px;
		margin-bottom: var(--margin-y-1);
		min-height:280px;
		padding:10px 25px 25px;
		
	}
	
	.picto {
		margin-bottom: 24px;
		max-height:64px;
	}

	.titre {
		@include fs(25);
		margin-bottom: 0.5em;
	}
	.texte, .lien {
		@include fs(15);
	}
	.lien {
		text-decoration: underline;
	}

	

	@include bp (lg) {
		.liste-encadres {
			display: grid;
			grid-template-columns: repeat(2,1fr);
			gap:var(--margin-y-1);
		}

		.encadre {
			margin-bottom: 0;
		}
		
	}
	
}