.carres {
  margin-bottom: var(--margin-y-1);
}
.carres .liste-carres {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-y-1);
}
.carres .carre {
  --chevrons:var(--orange);
  --fond:var(--blanc);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  background-color: var(--fond);
  color: var(--gris);
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-y-1);
  max-width: 29.3rem;
  min-height: 26rem;
  padding: 2rem;
  text-align: center;
}
.carres .carre .picto {
  margin-bottom: 1rem;
  min-height: 5.7rem;
  position: relative;
}
.carres .carre .picto > div {
  transition: opacity var(--transition);
}
.carres .carre .picto .survol {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}
.carres .carre:hover, .carres .carre:focus {
  --chevrons:var(--blanc);
  --fond:var(--orange);
}
.carres .carre:hover .picto .base, .carres .carre:focus .picto .base {
  opacity: 0;
}
.carres .carre:hover .picto .survol, .carres .carre:focus .picto .survol {
  opacity: 1;
}
.carres .titre {
  color: var(--gris);
  font-size: calc(20 * var(--taille-texte) / 14);
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.carres .texte {
  font-weight: 500;
  margin-bottom: 1em;
}
.carres .chevrons {
  color: var(--chevrons);
  font-weight: 700;
  margin-top: auto;
}
@media (min-width: 960px) {
  .carres .liste-carres {
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .carres .carre {
    height: 100%;
  }
}